/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
body{
    font-family: 'PT Sans', sans-serif;
}

/* regole header */
header{
    height: 60px;
    background-color: rgb(249, 250, 251);
}

.custom-navbar{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}

.custom-navbar > input{
    background-color: rgb(230, 230, 230);
}

.background-white{
    background-color: white;
}

.bell-color{
    color: rgb(255, 145, 0);
}

.header-right{
    display: flex;
    justify-content: space-around;
}

.header-right > i:hover{
    cursor: pointer;
}

/********** regole main **********/

/* regole side */
#side{
    background-image: url(img/sidebar-bg.png);
    background-color: rgb(5, 30, 51);
    width: 130px;
    height: calc(100vh - 60px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.side-up{
    margin-top: 15px;
    line-height: 30px;
}

.side-up > div:hover , .side-down > div:hover{
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}

.side-down{
    margin-bottom: 15px;
}

/********** regole main **********/
#under{
    height: calc(100vh - 60px);
    display: flex;
}

/* regole main-up */
#main-up{
    background-color: rgb(28, 113, 233);
    height: 120px;
}