/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
body{
    font-family: 'PT Sans', sans-serif;
}

/* regole header */
header{
    height: 60px;
    background-color: rgb(249, 250, 251);
}

.custom-navbar{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}

.row > div > nav{
    flex-wrap: nowrap;
}

.custom-navbar > input{
    background-color: rgb(230, 230, 230);
}

.background-white{
    background-color: white;
}

.bell-color{
    color: rgb(255, 145, 0);
}

.header-right{
    display: flex;
    justify-content: space-around;
}

.header-icons{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.header-right > div > i:hover{
    cursor: pointer;
}

.btn-group > button{
    background-color: white;
    border: none;
}

.btn-group > button:hover{
    background-color: white;
}

.logo-resp{
    display: none;
}

@media screen and (max-width:768px) {
    .logo-notresp{
        display: none;
    }

    .logo-resp{
        display: inline-block;
        max-width: 100%;
    }

    .header-right > div > i{
        display: none;
    }
}

@media screen and (max-width:576px) {
    .logo-notresp{
        display: none;
    }

    .logo-resp{
        display: inline-block;
        max-width: 5%;
    }
}

/********** regole contenuto principale **********/
#under{
    height: calc(100vh - 60px);
    display: flex;
}

/* regole side */
#side{
    background-image: url(img/sidebar-bg.png);
    background-color: rgb(5, 30, 51);
    width: 130px;
    height: calc(100vh - 60px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.side-up{
    margin-top: 15px;
    line-height: 30px;
}

.side-up > div:hover , .side-down > div:hover{
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}

.side-down{
    margin-bottom: 15px;
}

@media screen and (max-width:768px) {
    .side-up > div > span{
        display: none;
    }

    .side-down > div > span{
        display: none;
    }

    #side{
        width: 60px;
    }

}


/********** regole main **********/
main{
    width: calc(100% - 130px);
    background-color: rgb(247, 247, 247);
    overflow: auto;
}

@media screen and (max-width:768px) {
    main{
        width: calc(100% - 60px);
    }
}

/* regole main-up */
#main-up{
    background-color: rgb(28, 113, 233);
    height: 120px;
    color: white;
}

.col-6 > div > h3{
    display: inline-block;
}

.col-6 > div > span{
    font-size: 12px;
}

.my-button{
    background-color: rgb(22, 91, 187);
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    margin: 0 3px;
}

.square-custom{
    font-size: 30px;
}

.blu > button{
    background-color: rgb(28, 113, 233);
    border: none;
}

/* regole main-down */
.main-down{
    margin-top: 20px;
}

.table{
    font-size: 12px;
    background-color: white;
    border: 2px solid black;
}

th > img{
    max-width: 4%;
}

.table-icons{
    border: 1px solid rgb(109, 118, 126);
    color: rgb(109, 118, 126);
    width: 45%;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}

.table-icons > i{
    padding: 5px;
}

.table-icons:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.scheme{
    border: 1px solid lightgrey;
    border-radius: 5px;
    
}

.scheme > h3{
    padding: 10px;
}

.scheme > .container{
    border-top: 1px solid lightgray;
    background-color: white;
}

.scheme > .container > .row{
    border: 1px solid lightgrey;
}

.stats{
    margin-top: 20px;
    background-color: white;
}

.stats > .container > .row{
    margin: 10px 0;
}

.col-margin{
    border: 1px solid lightgrey;
}

.col-12 > img{
    max-width: 100%;
}

.col-12 > ul{
    list-style: none;
}

.col-12 > ul > li{
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}